<nav class="navbar">
  <section class="nav-settings">
    <div class="title_logo">
      <!-- <img src="../favicon.ico" width="30" height="30" /> -->
      <h2>Systembolaget Statistics</h2>
    </div>
    <mat-button-toggle-group
      (change)="toggleChartType.emit($event.value)"
      value="sales"
    >
      <mat-button-toggle value="sales">Sales</mat-button-toggle>
      <mat-button-toggle value="countries">Countries</mat-button-toggle>
      <mat-button-toggle value="products">Products</mat-button-toggle>
      <mat-button-toggle value="producers">Producers</mat-button-toggle>
      <mat-button-toggle value="categories">Categories</mat-button-toggle>
    </mat-button-toggle-group>
  </section>
</nav>
