.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

p {
    color: red;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}