@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

h2 {
    font-size: 2rem;
    margin: 5px;
    font-family: 'Tinos', serif;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    margin: 5px;
    font-family: 'Tinos', serif;
    font-weight: 600;
}

.select-forms {
    position: fixed;
    left: 0;
    width: 200px;
    border-right: 2px solid #ccc;
    height: 100vh;
    background-color: white;
    padding: 2rem;
    gap: 1rem;
}

// Styling for chart cards
.outbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin-top: 2.5rem;
    margin-right: 5rem;
  }

.container {
    width: 70%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 60px 0px;
    padding: 30px;
    margin: 10px;
  }

//Icon in sidebar
.site-icon {
    margin: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.mobile_message {
    display: none;
}

mat-slider {
    min-width: 100%;
}

@media (max-width: 700px) {
    .site-icon {
        display: none;
    }
    .wrapper {
        overflow: hidden;
    }
    .mobile_message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color: red;
        }
    }
    .select-forms {
        margin: auto;
        position: sticky;
        max-height: 240px;
        width: fit-content;
        border: none;
        align-items: center;
    }
    mat-slider {
        display: inline-block;
    }
    .outbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .container {
        width: 80%;
        max-height: 220px;
    }
    .container h2 {
        font-size: 1.5rem;
    }
}