<div class="wrapper">
  <app-navbar (toggleChartType)="changeToggleValue($event)"></app-navbar>

  <section class="select-forms">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label for="country">Välj land: </mat-label>
        <mat-select
          [(ngModel)]="currentCountry"
          (ngModelChange)="onCountrySelect()"
          formControlName="country"
          id="country"
        >
          <mat-option value="">Alla länder</mat-option>
          <mat-option
            *ngFor="let country of countries | keyvalue"
            [value]="country.key"
          >
            {{ country.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="select-options">
        <mat-form-field *ngIf="selectedToggleValue === 'region'">
          <mat-label for="region">Välj region: </mat-label>
          <mat-select formControlName="region" id="region">
            <mat-option value="">Alla regioner</mat-option>
            <mat-option *ngFor="let region of filteredRegions" [value]="region">
              {{ region }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-button-toggle-group
          name="category"
          aria-label="category"
          *ngIf="selectedToggleValue === 'kategori'"
          formControlName="category"
          id="category"
        >
          <mat-button-toggle [value]="'Vin'">Vin</mat-button-toggle>
          <mat-button-toggle [value]="'Sprit'">Sprit</mat-button-toggle>
          <mat-button-toggle [value]="'Öl, Cider och Blanddryck'"
            >Öl, Cider och Blanddryck</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
      <div class="year-slider">
        <p>Select year span:</p>
        <mat-slider min="2009" max="2021" step="1" showTickMarks discrete>
          <input
            [(ngModel)]="minYear"
            matSliderStartThumb
            formControlName="minYear"
          />
          <input
            [(ngModel)]="maxYear"
            matSliderEndThumb
            formControlName="maxYear"
          />
        </mat-slider>
      </div>
    </form>
    <!-- <button *ngIf="currentCountry" (click)="resetData()">reset</button> -->
  </section>

  <div class="outbox">
    <div class="container">
      <app-charts [chartData]="chartData$ | async"></app-charts>
    </div>
  </div>
  <div class="outbox">
    <div class="container"></div>
    <app-toplist-chart [topListData]="topListData$ | async"></app-toplist-chart>
  </div>
</div>
