.country_chart-container {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 60px 0px;
    padding: 30px;
    margin: 20px;
}

hr {
    border: 1.5px solid rgba(54, 162, 235, 1);
}

@media (max-width: 700px) {
    .extra_chart {
        display: none;
    }
}